.advance {
  padding: 5px 0 75px 0;
}

.advance-wrapper {
  display: flex;
  justify-content: end;
  background-image: image-set(
    url('../img/webp/advanced.webp') 1x,
    url('../img/webp/advancedRet.webp') 2x
  );
  background-position: 530px -75px;
  background-repeat: no-repeat;
  background-size: contain;
}

.advance-title {
  padding-top: 10px;
  font-weight: 700;
  font-size: 90px;
  line-height: 0.9;
  letter-spacing: -0.03em;
  text-align: right;
  color: #fff;
  max-width: 700px;
}

.advance-gradient {
  background: linear-gradient(90deg, #e129ff 43.92%, #29e6eb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .advance {
    padding: 0 0 40px 0;
  }

  .advance-title {
    font-size: 65px;
  }
}
