.hero {
  padding: 0 0 50px 0;
}

.hero-wrapper {
  border-radius: 0 0 40px 40px;
  padding: 75px 20px 150px 20px;
  background-image: image-set(
    url('../img/webp/heroBg.webp') 1x,
    url('../img/webp/heroBgRet.webp') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 70px;
  visibility: hidden;
  display: none;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
  position: relative;
}

input[name='search-text'] {
  border-radius: 17px;
  width: 600px;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: border 0.5s ease;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 2.4;
  letter-spacing: -0.03em;
  color: #7d7d81;
}

input[name='search-text']:hover,
input[name='search-text']:focus {
  box-shadow: rgb(183, 0, 219);
}

input[name='search-text']:active {
}

button {
  transition: all 0.3s ease;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

button:hover,
button:focus {
  transform: rotate(75deg);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  position: relative;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-info-list {
  width: 100%;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 28px;
  position: absolute;
  bottom: 0;
}

.image-info-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-info-item p {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.load-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.load-more-btn {
  display: none;
}

.active {
  display: block;
}
